.kepa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;

}
td {
    border:  4px solid rgb(24, 13, 13);
    padding: 40px 45px;
    
}
th{
    border:  4px solid rgb(24, 13, 13);
    background-color: rgb(20, 186, 98);

}
